 <div class="image" >
 
    <div align="Center" class="logincomp" >

     <div align="Center" style="color:rgba(0, 0, 255, 0.596)"> <b>Login</b>
     </div>
     <mat-form-field>
    <mat-label>User Id</mat-label>

    <input matInput placeholder="Enter User Id" autocomplete="off" maxlength="15" >

  </mat-form-field> 

  <br>
  <mat-form-field >
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter Password" autocomplete="off" maxlength="30" type="password">
  </mat-form-field>
  <br>
  <button mat-flat-button  class="Loginbutton">Login</button>

</div>
</div>